	<head>
		<%= stylesheet_link_tag "fwSliderComponent",media:"all" %>
		<%= stylesheet_link_tag "fwSliderDefault",media:"all" %>
		<script language="JavaScript">
		function getResult(){
			var list = document.getElementsByTagName("input");
			var id;

			for(var i=0; i < list.length; i++){
			   if (list[i].checked){
			    	id = list[i].name.split('')[1];
			      	document.getElementById("UserAnswer"+id).value = list[i].value;
			   }
			}
		}

		function getTextArea(){
			document.getElementById("UserComment").value = document.getElementById("trickExplain").value ;
		}
		</script>
		<style type="text/css">
		label {
		    margin-left: 60px;
		}
		input {
			margin-right: 60px !important;
		}
		tr {
			width:inherit;
		}
		td {
			word-wrap: normal;
		}

		</style>
	</head>
	<body>
		<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P6X4D7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6X4D7');</script>
<!-- End Google Tag Manager -->

		<div id='main-body' class="imageBG-others regular-ver">	
			<div class="container">
				<header class="clearfix">
					<h1>Customer Survey</h1>
				</header>
				<div id="cbp-fwslider" class="cbp-fwslider">
					<ul>
						<li>
							<div style="height:100%;">
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr>
										<td></td>
										<td><h4>1. How old are you?</h4><br><br></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Under 18 </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a0" value="1" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. 19 - 40</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a0" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>c. 41 - 60</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a0" value="3" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>d. Above 60</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a0" value="4" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;">
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>2. Are you a pet lover?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a1" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a1" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>

								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>3. How many pets do you have?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. No pets </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a2" value="1" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. 1 - 2</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a2" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>c. 3 - 4</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a2" value="3" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>d. More than 4</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a2" value="4" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;">
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>4. How much do you spend on your pets each month?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. $0 - $20 </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a3" value="1" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. $21 - $50</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a3" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>c. $51 - $100</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a3" value="3" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>d. More than $100</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a3" value="4" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;">


								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>5. Do you think your pet is cuter than others?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a4" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a4" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>6. Do your pets know any tricks? If yes, can you explain?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a5" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a5" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><label>Explain: <textarea rows="4" cols="50" value="" name="comment" form="usrform" name="a5" id="trickExplain" onblur="getTextArea();"></textarea></label></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>7. Do you have any online social network accounts?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a6" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a6" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>8. Do you like taking pictures, videos for your pets?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a7" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a7" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>
								<table width="100%">
									<tr style="display:hidden;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr colspan="2">
										<td></td>
										<td><h4>9. Would you like your pets to make some money by themselves?</h4><br><br></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a8" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a8" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<div style="height:100%;" margin:10px>
								<table width="100%">
									<tr style="display:visible;">
										<td width="35%"></td>
										<td width="30%"></td>
										<td width="35%"></td>
									</tr>
									<tr>
										<td></td>
										<td style="word-wrap: normal;" width="200px"><h4>10. Is that possible for you to support $0.10 of treats to  your pet friends? </h4><br><br></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>a. Yes </label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a9" value="1" onclick="getResult();" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><table width="100%"><tr>
													<td width = "70%" style="text-align:left;"><label>b. No</label></td>
													<td width = "30%" style="text-align:right;"><input type="radio" name="a9" value="2" onclick="getResult();"></input></td>
										</tr></table></td>
										<td></td>
									</tr>
								</table>
								<%= form_for :surveyresult do |f| %>
						<%= f.hidden_field :ResultId, :value => "1", class: "form-control", :autofocus => true, :required => true, :id => "ResultId"%>
						<%= f.hidden_field :SurveyId, :value => "1", class: "form-control", :autofocus => true, :required => true, :id => "SurveyId" %>
						<%= f.hidden_field :UserAnswer1, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer0" %>
						<%= f.hidden_field :UserAnswer2, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer1" %>
						<%= f.hidden_field :UserAnswer3, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer2" %>
						<%= f.hidden_field :UserAnswer4, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer3" %>
						<%= f.hidden_field :UserAnswer5, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer4" %>
						<%= f.hidden_field :UserAnswer6, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer5" %>
						<%= f.hidden_field :UserAnswer7, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer6" %>
						<%= f.hidden_field :UserAnswer8, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer7" %>
						<%= f.hidden_field :UserAnswer9, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer8" %>
						<%= f.hidden_field :UserAnswer10, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserAnswer9" %>
						<%= f.hidden_field :UserComment, :value => "0", class: "form-control", :autofocus => true, :required => true, :id => "UserComment" %>
						<%= f.submit "Submit Survey" %>
						<% end %>
							</div>

						</li>
					</ul>
				</div>

			</div>
		</div>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
		<%= javascript_include_tag "SurveyPageModernizr" %>
		<%= javascript_include_tag "cbpFWSlider.js" %>
		<script>
			$( function() {
				$( '#cbp-fwslider' ).cbpFWSlider();
			} );
		</script>
	</body>
