
<div id="main-body" class="regular_ver imageBG-others">
    <div class="container">

        <% if flash[:notice] %>
            <div class="alert alert-dismissible alert-info" role="alert"> 
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= flash[:notice] %> 
            </div>
        <% elsif flash[:alert] %>
            <div class="alert alert-dismissible alert-danger" role="alert"> 
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= flash[:alert] %> 
            </div>
        <% elsif flash[:warning] %>
            <div class="alert alert-dismissible alert-warning" role="alert"> 
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= flash[:warning] %> 
            </div>
        <% elsif flash[:success] %>
            <div class="alert alert-dismissible alert-success" role="alert"> 
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= flash[:success] %> 
            </div>
        <% end %>
        <div class="row">
            <div class="col-md-3">
                <h1 class=""><span class="glyphicon glyphicon-user"></span> Guarantor </h1>
                <hr class="">

                <h4><%= current_user.firstname %> <%= current_user.lastname %></h4>
                <h4><%= current_user.email %></h4>
                <%= link_to "Update Profile", update_user_profile_path , class: "btn btn-xs btn-primary" %>
                <%= link_to "Change Password", update_user_password_path , class: "btn btn-xs btn-primary" %>
                <%= link_to "Add a pet", new_pet_path , class: "btn btn-xs btn-primary" %>

            </div>
            <div class="col-md-1">
                <div class="vr">
                </div>
            </div>
            <div class="col-md-8">
                <h1 class=""><span class="glyphicon glyphicon-heart"></span> My Pets</h1>

                <% current_user.pets.each do |f| %>
                <hr class="">

                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                            <br/>
                            <br/>
                            <input class="file" type="file">
                        </div>
                    </div>
                    <!-- detail column -->
                    <div class="col-md-6">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Name:</label>
                                <div class="col-lg-8">
                                    <label class="control-label"><%= f.name %></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Birthday:</label>
                                <div class="col-lg-8">
                                    <label class="control-label"><%= f.birthday %></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Gender:</label>
                                <div class="col-lg-8">
                                    <label class="control-label">Female</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <%= link_to "Edit", "update_pet_profile/" + f.id.to_s , class: "btn btn-xs btn-primary" %>
                    </div>
                </div>
                <% end %>   
            </div>
        </div>      
        <br/>
    </div>
</div>
