<!DOCTYPE html>
<html>
  <head>
  </head>
  <body id="welcome">
    
    <div id="side_bar">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href=<%= root_path%>>Home</a></li>
              <li><a href=<%= new_post_path%>>New Post</a></li>
            </ul>
    </div>
    <div class="center main_body">
        
  		<h1>Welcome to Tuhao App</h1>
   		<h2>Everyone can be a shipper, deliver your package faster and cheaper.</h2> 

        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>SendFrom</th>
                    <th>SendTo</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <% @posts.each do |post| %>
                    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" id="Posts">
                        <td width="10px"><%= post.id %></td>
                        <td width="150px"><%= post.SendFrom %></td>
                        <td width="150px"><%= post.SendTo %></td>
                        <td width="300px"><%= post.Description %></td>
                        <td width="50px"><%= link_to 'Show', post %></td>
                        <td width="50px"><%= link_to 'Edit', edit_post_path(post) %></td>
                        <td width="50px"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </br>
        <%= link_to "Create New Post", new_post_path, class: "btn btn-sm btn-primary" %>
	</div>
  </body>
</html>