<!-- <body>
    <div class="main_body center">
        <%= render 'welcome/slides' %> 
        <!-- 
        <button type="button" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-link"></i><%= link_to "Create New", new_post_path%></button>
        <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-heart"></i><%= link_to "View All", posts_path %></button>

        <%= render 'welcome/search_bar' %> 
        <%= render 'welcome/advance_search' %>
        <button type="button" class="btn btn-primary search-toggle" style="width:140px">
                <span>AD Search</span>
            </button>

        <br/><br/><br/><br/><br/>
        <%= render 'posts/search_result' %>
        </br>
    </div>
</body>
 -->

<div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h1>We're coming soon! A cute place for pets to play cute.</h1>
          <h1>Do you mind to take a quick survey for us?</h1>
          <h2 class="subtitle"></h2>
          <form class="form-inline signup" role="form">
            
            <button type="submit" class="btn btn-theme">Take Survey</button>
          </form>         
        </div>
        <!-- <div class="col-lg-4 col-lg-offset-2">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>         
            slides
            <div class="carousel-inner">
            <div class="item active">
              <img src="assets/slide1.png" alt="">
            </div>
            <div class="item">
              <img src="assets/slide2.png" alt="">
            </div>
            <div class="item">
              <img src="assets/slide3.png" alt="">
            </div>
            </div>
          </div>    
        </div> -->
        
      </div>
    </div>
  </div>