<% if params[:search] || params[:from] then %>
    <% if @posts.count > 0 then %> 
    <h5 class="search_count">Total find: <%= @posts.count %></h5>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>SendFrom</th>
                <th>SendTo</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <% 
                if params[:page] == nil then
                    params[:page] = 1
                end

                for index in (params[:page].to_i-1)*4..params[:page].to_i*4-1 %>

                <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" id="Posts">
                    <% if index < @posts.count then %>
                        <td width="10px"><%= @posts[index].id %></td>
                        <td width="150px"><%= @posts[index].SendFrom %></td>
                        <td width="150px"><%= @posts[index].SendTo %></td>
                        <td width="300px"><%= @posts[index].Description %></td>
                        <td width="50px"><%= link_to 'Show', @posts[index] %></td>
                        <td width="50px"><%= link_to 'Edit', edit_post_path(@posts[index]) %></td>
                        <td width="50px"><%= link_to 'Destroy', @posts[index], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end%>
                </tr>
                <% end %>
            
        </tbody>
    </table>
    <ul class="pagination pagination-sm">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href=<%= request.original_url + "&page=1"%>>1</a></li>
        <li><a href=<%= request.original_url + "&page=2"%>>2</a></li>
        <li><a href=<%= request.original_url + "&page=3"%>>3</a></li>
        <li><a href=<%= request.original_url + "&page=4"%>>4</a></li>
        <li><a href=<%= request.original_url + "&page=4"%>>5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

    <% else %>
        <h1>oops, no result found</h1>
    <% end %>
<% end %>