<div id="side_bar">
            <ul class="nav nav-pills nav-stacked">
              <li><a href=<%= root_path%>>Home</a></li>
              <li><a href=<%= posts_path%>>Show Post</a></li>
              <li class="active"><a href=<%= new_post_path%>>New Post</a></li>
            </ul>
</div>

<div id="main_body">
<h1>New post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
</div>