<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link href="/assets/application.css.sass" media="all" rel="stylesheet" />
    <%= javascript_include_tag "application" %>
    <title>TreatsBowl - Online social network for pets.</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60995641-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- yield main body -->    
    <%= yield %>
    <%= render 'layouts/footer' %>
    

    <% if Rails.application.enable_debug == 1 then %>
      <%=  
      if Rails.env.development?
        debug(params)
      end %>
      <%=  
      if Rails.env.development?
        debug(current_user)
      end %>
      <%=  
      if Rails.env.development?
        if (current_user != nil) then
          debug(current_user.pets)
        end
      end %>
      <%=  
      if Rails.env.development?
        
          debug(@posts)
        
      end %>
      <%=  
      if Rails.env.development?
        debug(flash[:notice])
      end %>
      <%=  
      if Rails.env.development?
        debug(flash[:alert])
      end %>

      <%=  
      if Rails.env.development?
        debug(flash[:warning])
      end %>

      <%=  
      if Rails.env.development?
        debug(flash[:success])
      end %>
    <% end %>
  </body>
</html>
